@import 'https://fonts.googleapis.com/css?family=Droid+Serif';

body, h1, h2, h3, h4, h5, h6, .uk-navbar-nav>li>a {
  font-family: 'Droid Serif', serif;
}

@media only screen and (min-width: 993px) {
  .uk-container, .container {
    width: 50%;
  }
}

img {
  max-width:100%;
}

.uk-page-footer {
  background: #1C1C1C;
  margin-top: 20px;
  padding-top: 20px;
  color: #F2F2F2;
  a, h5 {
    color: #F2F2F2;
  }
}

.uk-footer-copyright {
  background-color: rgba(0,0,0,0.5);
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  font-weight: 300;
  margin-top: 20px;
  color: #F2F2F2;
  a, h5 {
    color: #F2F2F2;
  }
}

.uk-cover-background {
  max-height: 320px;
  margin: 1em 0em;
  overflow: hidden;
  object-position: center;
  -o-object-position: center;

  > img {
    width: 100%;
  }
}

ul.no-style {
  margin: 0px;
  padding-left: 0px;
  > li {
    list-style: none;
  }
}

article {
  margin:10px 0px;
  border-bottom: 1px solid #d1d1d1;
}

header {
  margin-bottom: 10px;
}