---
layout: default
---

<div class="home container">

    {% for post in paginator.posts %}

    <div class="row">
        <div class="col s12">
            <div class="card large white">
                {% assign foundImage = 0 %}
                {% assign images = post.content | split:"<img " %}
                {% for image in images %}
                {% if image contains 'src' %}

                {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <div class="card-image">
                    <img {{ html }} />
                </div>
                {% assign foundImage = 1 %}
                {% endif %}
                {% endif %}
                {% endfor %}
                <div class="card-content black-text">
                    <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="card-title" style="line-height: 1;">{{ post.title }}</h2></a>
                    <p>{{ post.excerpt | strip_html | truncatewords:175 }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Pagination links -->

    <ul class="pagination">
        {% if paginator.previous_page %}
        <li class="waves-effect"><a href="{{ paginator.previous_page_path }}" class="previous">Previous</a></li>
        {% else %}
        <li class="disabled"><a href="#!">Previous</a></li>
        {% endif %}
        <li class="active"><a href="#!">Page: {{ paginator.page }} of {{ paginator.total_pages }}</a></li>
        {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path }}" class="next">Next</a></li>
        {% else %}
        <li class="disabled"><a href="#!">Next</a></li>
        {% endif %}
    </ul>

</div>
